
<div action="/product/index" class="container mt-3" style="text-align:center">
  <br>
  <br>
  <br>
  <br>
  <h2 style="text-align: center;">Product</h2>      
{{#each products}}
            <div class="" style="display:inline-block; width: 25%; margin: 10px;">
                  <img src="{{image}}" width="268" height="400">
                    <div class="text-center p-4 position-relative mt-n5 mx-4">
                        <h4><a href="/product/detail/{{id}}">{{name}}</a></h4>
                        <br>
                    </div>
            </div>
            {{/each}}
</div>