
<form action="/type/add" method="post">
<section class="vh-100 bg-image"
  style="background-image: url(../images/backgroundadd.jpg);object-fit: cover">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add new type</h2>
                <div class="form-outline mb-4">
                  <input type="text" id="" name="name" placeholder="Name of type" class="form-control form-control-lg" required />
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="" name="image" placeholder="Image" class="form-control form-control-lg" required />
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" value="Add"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>