
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ToyStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
<body>
<div action="/type/customer" class="container mt-3" style="text-align:center">
  <br>
  <br>
  <br>
  <br>
<div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 style="text-align: center;"  class="text-primary mb-3"><span class="fw-light text-dark"></span> Toy Product</h1>
            </div>

            <div class="row g-4">
                {{#each types}}
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="product-item text-center border h-100 p-4">
                        <img class="img-fluid mb-4" src="#" alt="">
                        <a href="/type/detail/{{_id}}" class="h6 d-inline-block mb-2">{{name}}</a>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>   
</div>
</body>
</html>