
<form action="/type/edit/{{ type._id }}" method="post">
   <h1>Edit brand</h1>
   Brand name: <input type="text" name="name" id="" value="{{ type.name }}" required>
   <br><br>
   <input type="submit" value="Edit">
</form>