 <h2 style="text-align: center;">Type of types</h2> 
  <a href="/type/add " style="text-align: center;">Add</a> 
<table action="/type/index" class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
        {{#each types}}
    <tr>   
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-3">
            <p class="fw-bold mb-1">{{name}}</p>
          </div>
        </div>
      </td>
      <td>
        <button href="/type/edit/{{_id}}" type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
         <button href="/type/delete/{{ _id }}" class="btn btn-link btn-sm btn-rounded" onclick="return confirm('Are you sure?')">
          Delete
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
