
 <h2 style="text-align: center;">Type of types</h2> 
  <a href="/type/add " class="btn btn-info" style="text-align: center;">Add</a> 
<table  class="table align-middle mb-0 bg-white">
       <tr>
      <th>Type name </th>
      <th colspan="2">Actions</th>
   </tr>
   {{#each types }}
   <tr>
      <td>
         <a href="/type/detail/{{ _id }}">
            {{ name }}
         </a>
      </td>
      <td>
         <a class="bi bi-highlighter btn" href="/type/edit/{{ _id }}">&#9997</a>
         <a class="btn btn-link btn-sm btn-rounded" href="/type/delete/{{ _id }}"
         onclick="return confirm('Are you sure to delete this type ?');"
         >Delete</a>
      </td>
   </tr>
   {{/each}}
</table>
